<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Regina Library</a>
  <div class="ml-auto">
    <ul class="navbar-nav nav1">
      <li class="nav-item">
        <a class="nav-link" routerLink="access">Access Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="education"
          >Educational Resource Center</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resource">Resource & Instruction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="marketing">Marketing Outreach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="interlibrary">Interlibray Loan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="technical">Technical Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="electronic">Electronic Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login"
          ><img src="../assets/img/login.png" class="login-image"
        /></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
