<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Regina Library</a>
  <div class="ml-auto">
    <ul class="navbar-nav nav1">
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="access"
        >
          Access Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="access/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="access/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="education"
        >
          Educational Resource Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="education/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="education/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="research"
        >
          Research & Instruction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="research/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="research/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="marketing"
        >
          Marketing Outreach
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="marketing/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="marketing/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="interlibrary"
        >
          Interlibray Loan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="interlibrary/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="interlibrary/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="technical"
        >
          Technical Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="technical/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="technical/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="electronic"
        >
          Electronic Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-secondary" routerLink="electronic/add"
            >Add New Stats</a
          >
          <a class="dropdown-item text-secondary" routerLink="electronic/view"
            >View Past Stats</a
          >
        </div>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="yearly">Annual Statistics</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="logout" (click)="toggleLogIn()"
          ><Strong>Log Out</Strong></a
        >
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="register"><Strong>Register</Strong></a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="login" (click)="toggleLogIn()"
          ><Strong>Log In</Strong></a
        >
      </li>
    </ul>
  </div>
</nav>
<h1>Welcome to lib-stats-helper!</h1>
<app-home></app-home>
