<form class="col-md-4 mx-auto mt-5">
  <div class="container">
    <div class="row">
      <div class="form-group mr-2">
        <label for="year">Year</label>
        <input
          type="number"
          class="form-control"
          id="year"
          name="year"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.year"
        />
      </div>
      <div class="form-group mr-2">
        <label for="semester">Semester</label>
        <input
          type="text"
          class="form-control"
          id="semester"
          name="semester"
          placeholder="Enter Fall, Spring or Summer"
          [(ngModel)]="electronicInfo.semester"
        />
      </div>
      <div class="form-group mr-2">
        <label for="uniquePageViewsInASession"
          >Unique Page Views in a Session</label
        >
        <input
          type="number"
          class="form-control"
          id="uniquePageViewsInASession"
          name="uniquePageViewsInASession"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.uniquePageViewsInASession"
        />
      </div>
      <div class="form-group mr-2">
        <label for="uniqueUserSessions">Unique User Sessions</label>
        <input
          type="number"
          class="form-control"
          id="uniqueUserSessions"
          name="uniqueUserSessions"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.uniqueUserSessions"
        />
      </div>
      <div class="form-group mr-2">
        <label for="bibliographicDatabasesFullText"
          >Bibliographic Databases - Full Text or Abstract Views</label
        >
        <input
          type="number"
          class="form-control"
          id="bibliographicDatabasesFullText"
          name="bibliographicDatabasesFullText"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.bibliographicDatabasesFullText"
        />
      </div>
      <div class="form-group mr-2">
        <label for="bibliographicDatabasesSearches"
          >Bibliographic Databases - Searches</label
        >
        <input
          type="number"
          class="form-control"
          id="bibliographicDatabasesSearches"
          name="bibliographicDatabasesSearches"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.bibliographicDatabasesSearches"
        />
      </div>
      <div class="form-group mr-2">
        <label for="fullTextDatabasesFullText"
          >Full Text Databases - Full Text or Abstract Views</label
        >
        <input
          type="number"
          class="form-control"
          id="fullTextDatabasesFullText"
          name="fullTextDatabasesFullText"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.fullTextDatabasesFullText"
        />
      </div>
      <div class="form-group mr-2">
        <label for="fullTextDatabasesSearches">Full Text Databases - Searches</label>
        <input
          type="number"
          class="form-control"
          id="fullTextDatabasesSearches"
          name="fullTextDatabasesSearches"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.fullTextDatabasesSearches"
        />
      </div>
      <div class="form-group mr-2">
        <label for="edsSearches">EDS - Searches</label>
        <input
          type="number"
          class="form-control"
          id="edsSearches"
          name="edsSearches"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.edsSearches"
        />
      </div>
      <div class="form-group mr-2">
        <label for="edsSessions">EDS - Sessions</label>
        <input
          type="number"
          class="form-control"
          id="edsSessions"
          name="edsSessions"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.edsSessions"
        />
      </div>
      <div class="form-group mr-2">
        <label for="edsTotalFullText">EDS - Total Full Text</label>
        <input
          type="number"
          class="form-control"
          id="edsTotalFullText"
          name="edsTotalFullText"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.edsTotalFullText"
        />
      </div>
      <div class="form-group mr-2">
        <label for="edsAbstract">EDS - Abstract</label>
        <input
          type="number"
          class="form-control"
          id="edsAbstract"
          name="edsAbstract"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.edsAbstract"
        />
      </div>
      <div class="form-group mr-2">
        <label for="ebooksUsed">Ebooks Used</label>
        <input
          type="number"
          class="form-control"
          id="ebooksUsed"
          name="ebooksUsed"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.ebooksUsed"
        />
      </div>
      <div class="form-group mr-2">
        <label for="streamVideosViewed">Streaming Videos Viewed</label>
        <input
          type="number"
          class="form-control"
          id="streamVideosViewed"
          name="streamVideosViewed"
          placeholder="Enter a number"
          [(ngModel)]="electronicInfo.streamVideosViewed"
        />
      </div>
      <div
        class="form-group drop-month"
        (change)="selectedMonth1Func($event.target.value)"
      >
        <label for="drop-month"
          >Select the First Month in the Quarter to Enter Patreon Counts</label
        >
        <select
          class="custom-select"
          id="drop-month"
          name="selectedMonth1"
          [(ngModel)]="selectedMonth1"
        >
          <option *ngFor="let month of monthList" [value]="month">{{
            month
          }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMonth1">
        <label for="patreonMonth1">How many for {{ selectedMonth1 }}?</label>
        <input
          type="number"
          class="form-control"
          id="group"
          name="patreonMonth1"
          [(ngModel)]="electronicInfo.patreonMonth1"
          placeholder="Enter a number"
        />
      </div>
      <div
        class="form-group drop-month"
        (change)="selectedMonth2Func($event.target.value)"
      >
        <label for="drop-month"
          >Select the Second Month in the Quarter to Enter Patreon Counts</label
        >
        <select
          class="custom-select"
          id="drop-month"
          name="selectedMonth2"
          [(ngModel)]="selectedMonth2"
        >
          <option *ngFor="let month of monthList" [value]="month">{{
            month
          }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMonth2">
        <label for="patreonMonth2">How many for {{ selectedMonth2 }}?</label>
        <input
          type="number"
          class="form-control"
          id="group"
          name="patreonMonth2"
          [(ngModel)]="electronicInfo.patreonMonth2"
          placeholder="Enter a number"
        />
      </div>
      <div
        class="form-group drop-month"
        (change)="selectedMonth3Func($event.target.value)"
      >
        <label for="drop-month"
          >Select the Third Month in the Quarter to Enter Patreon Counts</label
        >
        <select
          class="custom-select"
          id="drop-month"
          name="selectedMonth3"
          [(ngModel)]="selectedMonth3"
        >
          <option *ngFor="let month of monthList" [value]="month">{{
            month
          }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMonth3">
        <label for="patreonMonth3">How many for {{ selectedMonth3 }}?</label>
        <input
          type="number"
          class="form-control"
          id="group"
          name="patreonMonth3"
          [(ngModel)]="electronicInfo.patreonMonth3"
          placeholder="Enter a number"
        />
      </div>
      <div
        class="form-group drop-month"
        (change)="selectedMonth4Func($event.target.value)"
      >
        <label for="drop-month"
          >Select the Fourth Month in the Quarter to Enter Patreon Counts</label
        >
        <select
          class="custom-select"
          id="drop-month"
          name="selectedMonth4"
          [(ngModel)]="selectedMonth4"
        >
          <option *ngFor="let month of monthList" [value]="month">{{
            month
          }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedMonth4">
        <label for="patreonMonth4">How many for {{ selectedMonth4 }}?</label>
        <input
          type="number"
          class="form-control"
          id="patreonMonth4"
          name="patreonMonth4"
          [(ngModel)]="electronicInfo.patreonMonth4"
          placeholder="Enter a number"
        />
      </div>
      <div class="text-center">
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="affirm"
            name="isCorrect"
            [(ngModel)]="electronicInfo.isCorrect"
          />
          <label class="form-check-label" for="affirm"
            >I would like to submit the statistics</label
          >
        </div>
        <div class="btn-group mb-5">
          <button
            type="button"
            (click)="addElectronicInfo()"
            [disabled]="isInvalid()"
            class="btn btn-primary mr-3"
          >
            Submit
          </button>
          <button type="button" (click)="reset()" class="btn btn-danger">
            Start Over
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
