<section class="access mt-5">
  <div class="row">
    <div class="col-md-1"></div>
    <form>
      <div class="row">
        <div class="form-group mr-2">
          <label for="year">Year</label>
          <input
            type="number"
            class="form-control"
            id="year"
            name="year"
            [(ngModel)]="accessService.year"
          />
        </div>
        <div class="form-group mr-2">
          <label for="semester">Semester</label>
          <input
            type="number"
            class="form-control"
            id="semester"
            name="semester"
            [(ngModel)]="accessService.semester"
          />
        </div>
        <div class="form-group mr-2">
          <label for="physical">Physical Items Circled</label>
          <input
            type="number"
            class="form-control"
            id="physical"
            name="physicalItem"
            [(ngModel)]="accessService.physicalItem"
          />
        </div>
        <div class="form-group mr-2">
          <label for="group">Group Study Rooms</label>
          <input
            type="number"
            class="form-control"
            id="group"
            name="groupStudyRoom"
            [(ngModel)]="accessService.groupStudyRoom"
          />
        </div>
        <div class="form-group mr-2">
          <label for="item">Course Reserves - # of Items</label>
          <input
            type="number"
            class="form-control"
            id="item"
            name="numberOfCourseReserves"
            [(ngModel)]="accessService.numberOfCourseReserves"
          />
        </div>
        <div class="form-group mr-2">
          <label for="physical">Course Reserves - # of Courses</label>
          <input
            type="number"
            class="form-control"
            id="physical"
            name="numberOfItemReserves"
            [(ngModel)]="accessService.numberOfItemReserves"
          />
        </div>
      </div>
      <div class="text-center">
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="affirm"
            name=""
            [(ngModel)]="accessService.isCorrect"
          />
          <label class="form-check-label" for="affirm"
            >I affirm that the information entered is correct</label
          >
        </div>
        <button
          type="button"
          (click)="addAccessService()"
          class="btn btn-primary ml-5"
        >
          Submit
        </button>
      </div>
    </form>
    <div class="mx-auto mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Semester</th>
            <th scope="col">Physical Items Circled</th>
            <th scope="col">Group Study Rooms - Keys Borrowed</th>
            <th scope="col">Course Reserves - # of Items</th>
            <th scope="col">Course Reserves - # of Courses</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let access of accessServiceList">
            <td>{{ access.year }}</td>
            <td>{{ access.semester }}</td>
            <td>{{ access.physicalItem }}</td>
            <td>{{ access.groupStudyRoom }}</td>
            <td>{{ access.numberOfItemReserves }}</td>
            <td>{{ access.numberOfCourseReserves }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
