<div class="mx-auto col-md-6 mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Semester</th>
        <th scope="col">Physical Items Circled</th>
        <th scope="col">Group Study Rooms - Keys Borrowed</th>
        <th scope="col">Course Reserves - # of Items</th>
        <th scope="col">Course Reserves - # of Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let access of accessServiceList">
        <td>{{ access.year }}</td>
        <td>{{ access.semester }}</td>
        <td>{{ access.physicalItem }}</td>
        <td>{{ access.groupStudyRoom }}</td>
        <td>{{ access.numberOfItemReserves }}</td>
        <td>{{ access.numberOfCourseReserves }}</td>
      </tr>
    </tbody>
  </table>
</div>
