<form class="mx-auto col-md-4 mt-5">
  <div class="form-group">
    <label for="year">Year</label>
    <input
      type="number"
      class="form-control"
      id="year"
      name="year"
      placeholder="Enter a number"
      [(ngModel)]="educationService.year"
    />
  </div>
  <div class="form-group">
    <label for="semester">Semester</label>
    <input
      type="text"
      class="form-control"
      id="semester"
      name="semester"
      placeholder="Enter Fall, Spring or Summer"
      [(ngModel)]="educationService.semester"
    />
  </div>
  <div class="form-group">
    <label for="programs"># of Programs Held</label>
    <input
      type="number"
      class="form-control"
      id="programs"
      name="numberOfPrograms"
      placeholder="Enter a number"
      [(ngModel)]="educationService.numberOfPrograms"
    />
  </div>
  <div class="form-group">
    <label for="attendance"># in Attendance</label>
    <input
      type="number"
      class="form-control"
      id="attendance"
      name="numberInAttendance"
      placeholder="Enter a number"
      [(ngModel)]="educationService.numberInAttendance"
    />
  </div>

  <div class="form-group">
    <label for="feedback"># Feedback Wall Responses</label>
    <input
      type="number"
      class="form-control"
      id="feedback"
      name="feedbackWallResponses"
      placeholder="Enter a number"
      [(ngModel)]="educationService.feedbackWallResponses"
    />
  </div>
  <div class="form-group">
    <label for="facebook"># of Facebook Followers</label>
    <input
      type="number"
      class="form-control"
      id="facebook"
      name="facebookFollowers"
      placeholder="Enter a number"
      [(ngModel)]="educationService.facebookFollowers"
    />
  </div>
  <div class="form-group">
    <label for="instagram"># of Instagram Followers</label>
    <input
      type="number"
      class="form-control"
      id="instagram"
      name="instagramFollowers"
      placeholder="Enter a number"
      [(ngModel)]="educationService.instagramFollowers"
    />
  </div>
  <div class="text-center">
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="affirm"
        name="isCorrect"
        [(ngModel)]="educationService.isCorrect"
      />
      <label class="form-check-label" for="affirm"
        >I would like to submit the statistics</label
      >
    </div>
    <div class="btn-group mb-5">
      <button
        type="button"
        (click)="addEducationalService()"
        [disabled]="isInvalid()"
        class="btn btn-primary mr-3"
      >
        Submit
      </button>
      <button type="button" (click)="reset()" class="btn btn-danger">
        Start Over
      </button>
    </div>
  </div>
</form>
