<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mr-auto">
    <ul class="navbar-nav mr-5">
      <li class="nav-item" style="opacity: 1;">
        <a class="nav-link" routerLink="../add"
          ><strong>Click to Add New Stats</strong></a
        >
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link" routerLink="../view"
          ><strong>Click to View Past Stats</strong></a
        >
      </li>
    </ul>
  </div>
</nav>

<form class="mx-auto col-md-4">
  <div class="form-group">
    <label for="year">Year</label>
    <input
      type="number"
      class="form-control"
      id="year"
      name="year"
      [(ngModel)]="educationService.year"
    />
  </div>
  <div class="form-group">
    <label for="semester">Semester</label>
    <input
      type="text"
      class="form-control"
      id="semester"
      name="semester"
      [(ngModel)]="educationService.semester"
    />
  </div>
  <div class="form-group">
    <label for="programs"># of Programs Held</label>
    <input
      type="number"
      class="form-control"
      id="programs"
      name="numberOfPrograms"
      [(ngModel)]="educationService.numberOfPrograms"
    />
  </div>
  <div class="form-group">
    <label for="attendance"># in Attendance</label>
    <input
      type="number"
      class="form-control"
      id="attendance"
      name="numberInAttendance"
      [(ngModel)]="educationService.numberInAttendance"
    />
  </div>

  <div class="form-group">
    <label for="feedback"># Feedback Wall Responses</label>
    <input
      type="number"
      class="form-control"
      id="feedback"
      name="feedbackWallResponses"
      [(ngModel)]="educationService.feedbackWallResponses"
    />
  </div>
  <div class="form-group">
    <label for="facebook"># of Facebook Followers</label>
    <input
      type="number"
      class="form-control"
      id="facebook"
      name="facebookFollowers"
      [(ngModel)]="educationService.facebookFollowers"
    />
  </div>
  <div class="form-group">
    <label for="instagram"># of Instagram Followers</label>
    <input
      type="number"
      class="form-control"
      id="instagram"
      name="instagramFollowers"
      [(ngModel)]="educationService.instagramFollowers"
    />
  </div>
  <div class="text-center">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="affirm" />
      <label class="form-check-label" for="affirm"
        >I affirm that the information entered is correct</label
      >
    </div>
    <button
      type="button"
      (click)="addEducationalService()"
      class="btn btn-primary ml-5"
    >
      Submit
    </button>
  </div>
</form>
