<div class="mx-auto col-md-6 mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Semester</th>
        <th scope="col"># of Programs Held</th>
        <th scope="col"># in Attendance</th>
        <th scope="col"># of Feedback Wall Responses</th>
        <th scope="col"># of Facebook Followers</th>
        <th scope="col"># of Instagram Followers</th>
        <th scope="col">Sum of Patreon Count by Quarter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let education of educationServiceList">
        <td>{{ education?.year }}</td>
        <td>{{ education?.semester }}</td>
        <td>{{ education?.numberOfPrograms }}</td>
        <td>{{ education?.numberInAttendance }}</td>
        <td>{{ education?.feedbackWallResponses }}</td>
        <td>{{ education?.facebookFollowers }}</td>
        <td>{{ education?.instagramFollowers }}</td>
        <td>
          {{
            education?.patreonMonth1 +
              education?.patreonMonth2 +
              education?.patreonMonth3 +
              education?.patreonMonth4
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
