<form class="col-md-4 mx-auto mt-5">
  <div class="container">
    <div class="row">
      <div class="form-group mr-2">
        <label for="year">Year</label>
        <input
          type="number"
          class="form-control"
          id="year"
          name="year"
          placeholder="Enter a number"
          [(ngModel)]="techincalService.year"
        />
      </div>
      <div class="form-group mr-2">
        <label for="semester">Semester</label>
        <input
          type="text"
          class="form-control"
          id="semester"
          name="semester"
          placeholder="Enter Fall, Spring or Summer"
          [(ngModel)]="techincalService.semester"
        />
      </div>
      <div class="form-group mr-2">
        <label for="numberOfBooksDVDs"># of Books/DVDs cataloged</label>
        <input
          type="number"
          class="form-control"
          id="numberOfBooksDVDs"
          name="numberOfBooksDVDs"
          placeholder="Enter a number"
          [(ngModel)]="techincalService.numberOfBooksDVDs"
        />
      </div>
      <div class="form-group mr-2">
        <label for="additionalItems">Additional Physical Items cataloged</label>
        <input
          type="number"
          class="form-control"
          id="additionalItems"
          name="additionalItems"
          placeholder="Enter a number"
          [(ngModel)]="techincalService.additionalItems"
        />
      </div>
      <div class="form-group mr-2">
        <label for="numberOfEbooks"># of Ebook Records added/revised</label>
        <input
          type="number"
          class="form-control"
          id="numberOfEbooks"
          name="numberOfEbooks"
          placeholder="Enter a number"
          [(ngModel)]="techincalService.numberOfEbooks"
        />
      </div>
      <div class="text-center">
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="affirm"
            name="isCorrect"
            [(ngModel)]="techincalService.isCorrect"
          />
          <label class="form-check-label" for="affirm"
            >I would like to submit the statistics</label
          >
        </div>
        <div class="btn-group mb-5">
          <button
            type="button"
            (click)="addTechnicalService()"
            [disabled]="isInvalid()"
            class="btn btn-primary mr-3"
          >
            Submit
          </button>
          <button type="button" (click)="reset()" class="btn btn-danger">
            Start Over
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
