.library-img {
  background: cover;
  height: 75vh;
  width: 100vw;
  opacity: 0.7;
}
.jumbotron {
  margin-bottom: 0;
  color: blue;
}

.logo {
  width: 25vw;
  height: 25vh;
}

h3 {
  font-weight: bold;
}
