<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mr-auto">
    <ul class="navbar-nav mr-5">
      <li class="nav-item" style="opacity: 1;">
        <a class="nav-link" routerLink="../add"
          ><strong>Click to Add New Stats</strong></a
        >
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link" routerLink="../view"
          ><strong>Click to View Past Stats</strong></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="mx-auto col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Semester</th>
        <th scope="col">Physical Items Circled</th>
        <th scope="col">Group Study Rooms - Keys Borrowed</th>
        <th scope="col">Course Reserves - # of Items</th>
        <th scope="col">Course Reserves - # of Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let access of accessServiceList">
        <td>{{ access.year }}</td>
        <td>{{ access.semester }}</td>
        <td>{{ access.physicalItem }}</td>
        <td>{{ access.groupStudyRoom }}</td>
        <td>{{ access.numberOfItemReserves }}</td>
        <td>{{ access.numberOfCourseReserves }}</td>
      </tr>
    </tbody>
  </table>
</div>
