<form class="col-md-4 mx-auto mt-5">
  <div class="form-group mr-2">
    <label for="year">Year</label>
    <input
      type="number"
      class="form-control"
      id="year"
      name="year"
      placeholder="Enter a number"
      [(ngModel)]="accessService.year"
    />
  </div>
  <div class="form-group mr-2">
    <label for="semester">Semester</label>
    <input
      type="text"
      class="form-control"
      id="semester"
      name="semester"
      placeholder="Enter Fall, Spring or Summer"
      [(ngModel)]="accessService.semester"
    />
  </div>
  <div class="form-group mr-2">
    <label for="physical">Physical Items Circled</label>
    <input
      type="number"
      class="form-control"
      id="physical"
      name="physicalItem"
      placeholder="Enter a number"
      [(ngModel)]="accessService.physicalItem"
    />
  </div>
  <div class="form-group mr-2">
    <label for="group">Group Study Rooms</label>
    <input
      type="number"
      class="form-control"
      id="group"
      name="groupStudyRoom"
      placeholder="Enter a number"
      [(ngModel)]="accessService.groupStudyRoom"
    />
  </div>
  <div class="form-group mr-2">
    <label for="item">Course Reserves - # of Items</label>
    <input
      type="number"
      class="form-control"
      id="item"
      name="numberOfCourseReserves"
      placeholder="Enter a number"
      [(ngModel)]="accessService.numberOfCourseReserves"
    />
  </div>
  <div class="form-group mr-2">
    <label for="physical">Course Reserves - # of Courses</label>
    <input
      type="number"
      class="form-control"
      id="physical"
      name="numberOfItemReserves"
      placeholder="Enter a number"
      [(ngModel)]="accessService.numberOfItemReserves"
    />
  </div>
  <div class="text-center">
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="affirm"
        name="isCorrect"
        [(ngModel)]="accessService.isCorrect"
      />
      <label class="form-check-label" for="affirm"
        >I would like to submit the statistics</label
      >
    </div>
    <div class="btn-group mb-5">
      <button
        type="button"
        (click)="addAccessService()"
        [disabled]="isInvalid()"
        class="btn btn-primary mr-3"
      >
        Submit
      </button>
      <button type="button" (click)="reset()" class="btn btn-danger">
        Start Over
      </button>
    </div>
  </div>
</form>
