<form class="col-md-3 mx-auto mt-5">
  <div class="form-group mt-5">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      [(ngModel)]="username"
      placeholder="Please enter your username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Please enter your password"
    />
  </div>
  <button type="submit" class="btn btn-primary ml-5 mt-2" (click)="logIn()">
    Submit
  </button>
</form>
