<form class="col-md-4 mx-auto mt-5">
  <div class="container">
    <div class="row">
      <div class="form-group mr-2">
        <label for="year">Year</label>
        <input
          type="number"
          class="form-control"
          id="year"
          name="year"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.year"
        />
      </div>
      <div class="form-group mr-2">
        <label for="semester">Semester</label>
        <input
          type="text"
          class="form-control"
          id="semester"
          name="semester"
          placeholder="Enter Fall, Spring or Summer"
          [(ngModel)]="interLibraryLoan.semester"
        />
      </div>
      <div class="form-group mr-2">
        <label for="numOfRequestedArticlesBorrowing"
          ># requested Articles - Borrowing</label
        >
        <input
          type="number"
          class="form-control"
          id="numOfRequestedArticlesBorrowing"
          name="numOfRequestedArticlesBorrowing"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.numOfRequestedArticlesBorrowing"
        />
      </div>
      <div class="form-group mr-2">
        <label for="numOfRequestedArticlesLending"
          ># requested Articles - Lending</label
        >
        <input
          type="number"
          class="form-control"
          id="numOfRequestedArticlesLending"
          name="numOfRequestedArticlesLending"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.numOfRequestedArticlesLending"
        />
      </div>

      <div class="form-group mr-2">
        <label for="feedback"># requested Books - Borrowing</label>
        <input
          type="number"
          class="form-control"
          id="numOfRequestedBooksBorrowing"
          name="numOfRequestedBooksBorrowing"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.numOfRequestedBooksBorrowing"
        />
      </div>
      <div class="form-group mr-2">
        <label for="numOfRequestedBooksLending"
          ># requested Books - Lending</label
        >
        <input
          type="number"
          class="form-control"
          id="numOfRequestedBooksLending"
          name="numOfRequestedBooksLending"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.numOfRequestedBooksLending"
        />
      </div>
      <div class="form-group mr-2">
        <label for="getItNow">Get it Now - Purchased</label>
        <input
          type="number"
          class="form-control"
          id="getItNow"
          name="getItNow"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.getItNow"
        />
      </div>
      <div class="form-group mr-2">
        <label for="docDeliveryAlreadyOwned">DocDelivery - Already Owned</label>
        <input
          type="number"
          class="form-control"
          id="docDeliveryAlreadyOwned"
          name="docDeliveryAlreadyOwned"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.docDeliveryAlreadyOwned"
        />
      </div>
      <div class="form-group mr-2">
        <label for="docDeliveryFoundFree">DocDelivery - Found for free</label>
        <input
          type="number"
          class="form-control"
          id="docDeliveryFoundFree"
          name="docDeliveryFoundFree"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.docDeliveryFoundFree"
        />
      </div>
      <div class="form-group mr-2">
        <label for="docDeliveryPurchased">DocDelivery - Purchased</label>
        <input
          type="number"
          class="form-control"
          id="docDeliveryPurchased"
          name="docDeliveryPurchased"
          placeholder="Enter a number"
          [(ngModel)]="interLibraryLoan.docDeliveryPurchased"
        />
      </div>
      <div class="text-center">
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="affirm"
            name="isCorrect"
            [(ngModel)]="interLibraryLoan.isCorrect"
          />
          <label class="form-check-label" for="affirm"
            >I would like to submit the statistics</label
          >
        </div>
        <div class="btn-group mb-5">
          <button
            type="button"
            (click)="addInterLibraryLoan()"
            [disabled]="isInvalid()"
            class="btn btn-primary mr-3"
          >
            Submit
          </button>
          <button type="button" (click)="reset()" class="btn btn-danger">
            Start Over
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
